
/* Eléments principaux de la page */

body {
    
    font-family: Arial, Helvetica, sans-serif; /*A CHANGER */
    color: #181818;
}




/* Header */


/* For the menu */ 
ul {
  list-style-type: none;

  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  font-family: Helvetica, serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/*end of menue */
header h1 {
    font-family: 'Harabara', serif; 
    font-size: 35px;
    margin-left: 10%;
}

header h2 
{
    font-family: Helvetica, serif;
    font-size: 18px;
	font-weight:normal;
    margin-left: 10%;
	margin-right: 10%;
}



body h2 {
	 font-family: Helvetica, serif;
    font-size: 18px;
	font-weight:normal;
    margin-left: 10%;
	margin-right: 10%;
}

/*It is where all the last modifications has been made */
.Conteneur {
    margin-left: 12%;
	width: 500px;
}

body p {
	 font-family: Helvetica, serif;
    font-size: 16px;
	font-weight:normal;
    margin-left: 10%;
	margin-right: 10%;
}
/*The buttons in the table */ 
.button1 { /*Is the button to set the light off*/
  display: inline-block;
  border-radius: 2px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.button2 { /*Is the button to set the light on*/
  display: inline-block;
  border-radius: 2px;
  background-color: #89ee4d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.ColorView {
  display: inline-block;
  border: none;
  background-color: none;
  vertical-align:middle;
  text-align: center;
  width: 80px;
  height:60px;
  transition: all 0.5s;
  cursor: pointer;
	
}
.button3 {

  padding: 15px 15px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: #4742b0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
  vertical-align:middle;
}
.button3:hover {
	 
  background-color: #403aa5;

}  
.button3:active {
  background-color: #272290;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	

/* Gestion graphique du tableau */
table {
	border-collapse: collapse;
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
	font-size:20px;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #AFAFAF;
  color: white;
  text-align: center;
}



